@import "https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap";


html {
  font-family: "IBM Plex Serif", serif;
}

h1,
h2 {
  font-family: "Bevan", serif;
  font-weight: 900;
}


/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0 20px;
  min-width: 980px;
  max-width: 1400px;
}

body {
  line-height: 1.6;
}

h1, h2 {
  letter-spacing: 1px;
}


h1 {
  font-size: 2.5rem;
  text-align: center;
  letter-spacing: 1px;
}


h2 {
  font-size: 1.8rem;
  margin-bottom: 0;
  letter-spacing: 1px;
}

section h2 + p {
  text-indent: 2rem;
}

/* Layout */

main {
  display: grid;
  grid-template-columns: 5fr 2fr 2fr;
  gap: 40px;
  padding: 20px 0;
}

/* header and footer */



header {
  border-bottom: 5px solid #aa6666;
}

footer {
  border-top: 5px solid #aa6666;
}

footer p {
  text-align: center;
}


a {
  color: #aa6666;
  text-decoration: underline;
}

a:visited {
  color: #884444;
}

a:hover,
a:focus {
  text-decoration: none;
  color: #cc4444;
}


a:focus {
  outline: none;
}


a[href^="http"]::after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url("./img/external-link-52.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 5px;
}

ul,
ol {
  margin: 1rem 0;
  line-height: 1.6;
}

li {
  margin-bottom: 0.5rem;
}

/* Custom bullet style */
ul {
  list-style-type: square;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  margin-bottom: 10px;
}

nav a {
  display: block;
  padding: 15px;
  text-align: center;
  background-color: white;   
  color: #aa6666;            
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Bevan", serif;
 border: 2px solid #aa6666; 
 font-weight: 900;
}


nav a:hover {
  background-color: #aa6666;
}



