/*
 <!--
       Name: Ayomide Akerele
       file: index.html
       date: feb 20, 2026
*/
html {
  background-color: white;
}

body {
  font: 1.2em / 1.5 system-ui;
}
/*
Box style
*/
body{
    padding: 20px;
    width:500px ;
    background-color: #efefef;
    margin: 0 auto

}
ul{
    background-color: white;
    border: 5px solid purple;
    padding: 30px;
    border-radius: 20px;
}

h1{
    color: darkslategray;
    font-size: 2rem;
    border-bottom: 10px dotted purple;
}

h2{
    font-style: italic;
    font-size: 1.5rem;
}

div{
    color: darkslategray;
    font-weight: bold;
}

a{
    color: green;
}

a:hover,
a:focus{
    color: darkgreen;
    text-decoration: none;
}

